<div class="favorite-list-container">
  <h1>My Favorites!</h1>
  <ul class="favorites-list">
  </ul>

  <label for="artist">Add Favorite Artist</label>
  <form class="artist-form">
    <input type="text" id="artist-list" />
    <button>Submit</button>
  </form>

  {{#each favorites as |favorite|}}
    <h1>{{favorite.name}}</h1>
    <div>
        <img src='{{favorite.profile_image_link}}'>
        <div>
           {{#each favorite.venues as |venue|}}
               <a href='{{venue.show.ticketmaster_link}}'>
                 <div>
                   <h2>{{venue.name}}</h2>
                   <h3>{{venue.city}}, {{venue.state}}</h3>
                 </div>
                 <div>
                   <h2>{{venue.show.date}}</h2>
                 </div>
               </a>
            {{/each}}
        </div>

    </div>
   
   
  {{/each}}

</div>

<script src="https://code.jquery.com/jquery-1.12.4.js"></script>
<script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
<script src="./js/favorites.js"></script>